*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.5s;
}
body
{
    background-color: rgb(4, 2, 23);
    perspective: 600px;
}
.container
{
    width: 80%;
    margin: auto;
}
.clearfix
{
    clear: both;
}
.header
{
   position: fixed;
   width: 100%;
   height: 60px;
   padding: 0px 10%;
   top: 0px;
   background-color: rgb(0, 0, 0);
   z-index: 100;
}
.logo
{
    width: 66px;
    /* margin: 0px 10%; */
    padding: .5% 0;
    float: left;
}
.nav
{
    float: right;
    /* margin-right: 10%; */
    text-align: center;
    list-style: none;
    margin-top: 18px;
}
.nav li 
{
    display: inline-block;
    margin: 1px 3px;
}
.nav li a
{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: .4s;
    font-size: 15px;
    position: relative;
}
.nav li a::after,
.header-active:after
{
    content: "";
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #ffffff;
    transition: 0.5s;
}
.nav li a::after,
.header-active:after
{
    content: "";
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #ffffff;
    transition: 0.5s;
}
.header .nav .header-active:after
{
    width: 100%;
}
.nav li a:hover::after
{
   width: 100%;
}
.overlay
{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.7);
}
/* ----------------------- header end -----------------------------*/
.home
{
    width: 100%;
    height: 100vh;
    z-index: 100;
    perspective: 100px;
}
.backg
{
    background: url(../images/enviser.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.cardholder
{
    width: 380px;
    height: 240px;
    position: relative;
    transform-origin: right center;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 500px;
}
.home .card, .card-back
{
    color: #fff;
    width: 380px;
    height: 240px;
    background: #000;
    border-radius: 18px;
    padding: 25px;
    margin: 15% 0;
    /* box-shadow: 5px 5px 120px 1px rgba(255, 255, 255, 0.557)  */
}
.card-back, .front
{
    position: absolute;
}
.front
{
    z-index: 1;
    backface-visibility: hidden;
}
.cardholder:hover
{
    transform: rotateY(180deg) translateX(100%);
}
.cardsim
{
    width: 10%;
    height: 12%;
    background-color: rgb(162, 162, 162);
    position: absolute;
    border-radius: 8px;
    top: 35%;
    left: 10%;
    overflow: hidden;
    color: #000;
    backface-visibility: hidden;
}
.card h3
{
    word-spacing: 22px;
    margin: 15px;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
}
.card .ctype
{
    float: right;
    font-weight: 600;
}
.card .ddate
{
    font-size: 8px;
}
.expiry
{
    position: absolute;
    bottom: 18%;
    left: 10%;
}
.card-name
{
    bottom: 8%;
    position: absolute;
    left: 10%;
}
.visa-logo
{
    position: absolute;
    bottom: 18px;
    right: 10%;
}
/* card back */
.card-back
{
    padding: 0;
    transform: rotateY(180deg);
}
.backdetails
{
    position: relative;
}
.backdetails .line
{
    top: 140px;
    position: absolute;
    width: 100%;
    height: 50px;
    background: rgb(121, 121, 121);
}
.b-link
{
    padding: 10px 0px 0px 20px;
    font-size: 10px;
}
.cvv
{
    width: 40%;
    height: 30px;
    background: #fff;
    margin: 48px 20px;
    color: #000;
    position: absolute;
}
.cvv > p
{
    position: absolute;
    font-size: 7px;
    color: #fff;
    top: -16px;
}
.cvv .cvp
{
    position: absolute;
    right: 12px;
    top: 7px;
    font-weight: 700;
}
.btype
{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 80px;
    right: 20px;
}
.auth
{
    font-size: 8px;
    left: 20px;
    color: #fff;
    position: absolute;
    top: 125px;
    font-weight: 600;
}
/* /////////////// effects //////////// */
.effects
{

    width: 480px;
    height: fit-content;
    padding: 55px 0 0;
    position: relative;
}
.circle1
{
    background-color: yellow;
    position: absolute;
    right: 0;
    top: 97px;
    border-radius: 15%;
    box-shadow: -130px 97px 100px 72px yellow;
}
.circle2
{
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: 20px;
    border-radius: 50%;
    box-shadow: 78px -27px 100px 72px blue; 
}