*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.5s;
    scroll-behavior: smooth;
}
body
{
    background-color: #040214;
    perspective: 600px;
}
.container
{
    width: 80%;
    margin: auto;
}
.clearfix
{
    clear: both;
}
.header
{
    position: sticky;
    width: 90%;
    margin: auto;
    border-radius: 0px 0px 25px 25px;
    height: 60px;
    padding: 0px 10%;
    top: 0px;
    background-color: #000000c4;
    z-index: 110;
}
.logo
{
    width: 66px;
    /* margin: 0px 10%; */
    padding: .5% 0;
    float: left;
}
.nav
{
    float: right;
    /* margin-right: 10%; */
    text-align: center;
    list-style: none;
    margin-top: 18px;
}
.nav li 
{
    display: inline-block;
    margin: 1px 3px;
}
.nav li a
{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: .4s;
    font-size: 15px;
    position: relative;
}
.nav li a::after,
.header-active:after
{
    content: "";
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #ffffff;
    transition: 0.5s;
}
.nav li a::after,
.header-active:after
{
    content: "";
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(45deg, #3c39ff 70%, red );
    transition: 0.5s;
}
.header .nav .header-active:after
{
    width: 100%;
}
.nav li a:hover::after
{
   width: 100%;
}
.overlay
{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.7);
}
/* ----------------------- header end -----------------------------*/
.home
{
    width: 100%;
    height: 100vh;
    z-index: 100;
    perspective: 100px;
}
.home-view
{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.backg
{
    background: url(../images/enviser.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.cardholder
{
    width: 380px;
    height: 240px;
    position: relative;
    transform-origin: right center;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 500px;
    float: left;
}
.home .card, .card-back
{
    color: #fff;
    width: 380px;
    height: 240px;
    background: #000;
    border-radius: 18px;
    padding: 25px;
    /* margin: 13% 0; */
    /* box-shadow: 5px 5px 120px 1px rgba(255, 255, 255, 0.557)  */
}
.card-back, .front
{
    position: absolute;
}
.front
{
    z-index: 1;
    backface-visibility: hidden;
}
.cardholder:hover
{
    transform: rotateY(180deg) translateX(100%);
}
.cardsim
{
    width: 10%;
    height: 12%;
    background-color: rgb(162, 162, 162);
    position: absolute;
    border-radius: 8px;
    top: 35%;
    left: 10%;
    overflow: hidden;
    color: #000;
    backface-visibility: hidden;
}
.card h3
{
    word-spacing: 22px;
    margin: 15px;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
}
.card .ctype
{
    float: right;
    font-weight: 600;
}
.card .ddate
{
    font-size: 8px;
}
.expiry
{
    position: absolute;
    bottom: 18%;
    left: 10%;
}
.card-name
{
    bottom: 8%;
    position: absolute;
    left: 10%;
}
.visa-logo
{
    position: absolute;
    bottom: 18px;
    right: 10%;
}
/* card back */
.card-back
{
    padding: 0;
    transform: rotateY(180deg);
}
.backdetails
{
    position: relative;
}
.backdetails .line
{
    top: 140px;
    position: absolute;
    width: 100%;
    height: 50px;
    background: rgb(121, 121, 121);
}
.b-link
{
    padding: 10px 0px 0px 20px;
    font-size: 10px;
}
.cvv
{
    width: 40%;
    height: 30px;
    background: #fff;
    margin: 48px 20px;
    color: #000;
    position: absolute;
}
.cvv > p
{
    position: absolute;
    font-size: 7px;
    color: #fff;
    top: -16px;
}
.cvv .cvp
{
    position: absolute;
    right: 12px;
    top: 7px;
    font-weight: 700;
}
.btype
{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 80px;
    right: 20px;
}
.auth
{
    font-size: 8px;
    left: 20px;
    color: #fff;
    position: absolute;
    top: 125px;
    font-weight: 600;
}
/* /////////////// effects //////////// */
.effects
{

float: left;

width: fit-content;

height: fit-content;

/* padding: 55px 0 0; */

position: relative;
}
.circle1
{
    /* background-color: yellow; */
    position: absolute;
    right: 0;
    top: 97px;
    border-radius: 15%;
    box-shadow: -74px -24px 100px 72px rgb(255 255 0 / 46%);
}
.circle2
{
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: 20px;
    border-radius: 50%;
    box-shadow: 78px -27px 100px 72px blue; 
}
/* //////// home content  /////////// */
.home-content
{
    float: right;
    color: white;
    width: 40%;
    margin: 30px 0px 0px 30px;
    top: 0;
    right: 0;
    /* position: absolute; */
}
.home-content h1
{
    font-size: 50px;
}
.home-content p
{
    font-size: 25px;
}
/* ///////////END OF HOME///////////// */
.ndsec 
{
    color: white;
    padding: 80px 0px 110px 0px;
}
.nd-content
{
    margin: 70px 0;
}
.ndsec .nd-sec-text
{
    width: 40%;
    float: left;
    margin: 65px 12% 0px 0px;
}
.ndsec .nd-sec-text h2
{
    font-size: 35px;
}
.ndsec .nd-sec-text p
{
    font-size: 25px;
}
.ndsec .card-types
{
    position: relative;
    margin: 90px 0px;
}
.ndsec img
{
    /* transform: matrix(1, 1, .3, 1, 0, 0);  */
    transform: matrix(0.7,-0.9,0.99,0.43,0,0);
    /* -ms-transform: matrix(0.71,0.71,-0.28,1.13,0,0); */
    /* -webkit-transform: matrix(0.71,0.71,-0.28,1.13,0,0); */
    width: 290px;
    position: absolute;
    border-radius: 20px;
}
.ndsec .img1 {
    transform: matrix(0.7,-0.9,0.99,0.43,0,0);
    z-index: 100;
}
.ndsec .img2 {
    transform: matrix(0.7,-0.9,0.99,0.43,40,0);
    z-index: 99;
}
.ndsec .img3 {
    transform: matrix(0.7,-0.9,0.99,0.43,80,0);
    z-index: 98;
}
.ndsec .img4 {
    transform: matrix(0.7,-0.9,0.99,0.43,120,0);
    z-index: 97;
}
.ndsec .img1:hover,
.ndsec .img2:hover,
.ndsec .img3:hover,
.ndsec .img4:hover
{
    transform: matrix(0.8,-0.9,0.99,0.43,153,-85);
    z-index: 101;
}
/* ///////////// END OF SECTION 2 ///////////// */
.cf-parent
{
    position: relative;
    color: rgb(183, 183, 183);
    padding: 50px 0px;
}

.cf-content {
    display: grid;
    grid-template-columns: repeat(3 , 30%);
    grid-auto-rows: minmax(100px , auto);
    gap: 6% 5%;
}
.ita1
{
    grid-column: 2 / 4;
}
.ita1 p
{
    /* min-height: 75px; */
    padding: 0rem 0 2.5rem;
}
.cf-parent h2
{
    font-size: 30px;
    margin: 30px 0px;
    /* letter-spacing: -13px; */
    opacity: 1;
    text-shadow: 0px 0px 1.3px white;
    transition: .3s;
    color: rgb(4, 2, 23);

}
.cf-parent:hover h2 
{
    /* letter-spacing: normal; */
    opacity: 1;
    color: #fff;
}
.cf-parent .item
{
    width: 100%;
    background: linear-gradient(to right bottom, #ff00007a 20%, rgba(0, 0, 0, 0.379) 50%);
    /* background: linear-gradient(to right bottom, #91a3ff -50%, rgba(0, 0, 0, 0.379) 60%); */
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
    animation-name: card1;
    position: relative;
    overflow: hidden;
    transition: .4s;
}
.cf-parent .item:hover
{
    background: linear-gradient(to right bottom, #ff0000b9 20%, rgba(0, 0, 0, 0.379) 50%);    
}
.item a
{
    color: #fff;
    margin: 0.9rem 0;
    font-size: 13px;
    padding: 3px 10px;
    display: block;
    width: fit-content;
    border: 1px solid;
    border-radius: 7px;
}
.cf-parent .item:hover p
{
    color: #fff;
}
/* end of section 3 */
.serv-parent
{
   position: relative;
   padding: 70px 0px;
}
.phone
{
    width: 300px;
    height: 500px;
    margin-left: 80px;
    background: #000;
    border-radius: 32px;
    position: relative;
    float: left;
}
.phone-screen
{
    width: 97%;
    left: 2%;
    top: 5px;
    height: 95%;
    position: absolute;
    border-radius: inherit;
    background-color: #fff;
    overflow: hidden;
}
.camera
{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 10px auto;
    background: #000;
}
.phone  .app{
    position: absolute;
    background: #000;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-name: app;
    animation-delay: 8s;
    animation-duration: 3s;
    /* animation-delay: 1s; */
    border-radius: 32px;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}
@keyframes app {
    0%
    {
        height: 40px;
        width: 40px;
    }
    40% 
    {
        width: 40px;
        height: 40px;
    }
    80%
    {
        opacity: 1;
    }
    97%
    {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}
/* in mob screen */
.services
{
    margin-top: 150px;
}
.inmob
{
    position: absolute;
    top: 60px;
    opacity: 0;
    width: 90%;
    height: 37%;
    background: #000;
    color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    animation-name: app-card;
    animation-duration: 3s;
    animation-delay: 11s;
    animation-timing-function: ease-out;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}
@keyframes app-card {
    0%
    {
        opacity: 0;
        
    }
    /* 10% 
    {
        opacity: 1;
    } */
    40%
    {
        opacity: 1;
        top: 25px;
    }
    100%
    {
        opacity: 1;
        top: 25px;
    }
}
.visa-logo2 img
{
    width: 50px;
    float: right;
    position: absolute;
    height: 15px;
    right: -99px;
}
.v2 h3
{
    font-size: 13px;
    margin: 11px 7.1px;
    word-spacing: 8px;
}
.expiry2
{
    font-size: 9px;
}
.phone .card-name h4
{
    float: left;
}
.app-details
{
    position: absolute;
    width: 88%;
    top: 290px;
    left: 20px;
    opacity: 0;
    animation-name: app-details;
    animation-duration: 3s;
    animation-delay: 11.2s;
    animation-iteration-count: 3;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes app-details {
    0%
    {
        opacity: 0;
    }
    20%
    {
        opacity: 1;
    }
    50%
    {
        top: 250px;
    }
    100%
    {
        top: 250px;
        opacity: 1;
    }
}
.app-details h3 , .P2
{
    line-height: 40px;
}
.P2
{
    color: #fff;
    background: blue;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    margin: 3px 0px;
}
.offers
{
    margin: 10px 0px;
    font-size: 15px;
}
.offers div
{
    border-radius: 10px;
    width: 30%;
    height: 80px;
    background-color: #000;
    float: left;
    margin: 5% 1.6%;
    padding: 15px;
}
.offers div hr
{
    margin: 10px 0px 12px;
}
/* end of mobile app */
.app-details-desc
{
    float: right;
    width: 45%;
    color: #ffff;
    position: absolute;
    right: 10px;
    top: 150px;
    word-spacing: 1.7px;
}
.app-details-desc h3
{
    font-size: 30px;
    margin-bottom: 15px;
}
.app-details-desc .buttons a
{
    margin: 20px 0px;
}
.app-details-desc .buttons a , .rotate-card a , .up1text a
{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
    color: #fff;
    background: #000;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    padding: 3.5% 15px;
    border-radius: 10px;
    border: 1px solid;
}
.app-details-desc .buttons i
{
    font-weight: 400;
    font-size: 25px;
    margin-right: 3px;
}
.app-details-desc .buttons a:hover
{
    background: #fff;
    color: #000;
}
/* ############# END OF services section ###############*/
.animation-sec2
{
    position: relative;
    display: none;
}
.animation-parent
{
    background: #3c39ff4f;
    height: 500px;
    padding: 2% 0px;
}
.animation-parent .child
{
    width: 100%;
    height: 14.4%;
    margin-bottom: 1.6%;
    background: #fff;
    position: relative;
}
.animation-parent .child .child1, .child2  , .child3, .child4, .child5 , .child6
{
    height: 100%;
    width: 150px;
    position: absolute;
    right: 0;
    background: black;
    border-radius: 13px;
}
.animation-parent .child .child2 , .child4, .child6
{
    position: absolute;
    left: 0;
}
.child1, .child2, .child3, .child4, .child5, .child6
{
    animation: child2  3s  ease-in-out  3s  2  alternate forwards running;
    animation-name: child2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.child1
{
    /* animation: child1  3s  ease-in-out  0s  4  alternate forwards; */
    animation-delay: 0s;
}
.child3 
{
    animation-name: child3;
    animation-delay: 6s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
}
.child4
{
    animation-name: child4;
    animation-delay: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.child5
{
    animation-name: child5;
    animation-delay: 14s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
}
.child6
{
    animation-name: child6;
    animation-delay: 18s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
}
.child img
{
    width: 60px;
    margin: 10px 45px;
}
@keyframes child1 {
    0%
    {
        right: 0;
    }
    100%
    {
        right: 81%;
    }
}
@keyframes child2 {
    0%
    {
        left: 0;
    }
    100%
    {
        left: 81%;
    }
}
@keyframes child3 {
    0%
    {
        right: 81%;
    }
    100%
    {
        right: 0px;
    }
}
@keyframes child4 {
    0%
    {
        left: 0;
    }
    100%
    {
        left: 81%;
    }
}
@keyframes child5 {
    0%
    {
        right: 81%;
    }
    100%
    {
        right: 0px;
    }
}
@keyframes child6 {
    0%
    {
        left: 0;
    }
    100%
    {
        left: 81%;
    }
}
/* ############# END OF ANIMATION ############ */
.env-feat, .updates-parent , .spinner
{
    margin: 4rem 0px;
    padding-top: 4.2rem;
}
section .rotate-cards-parent
{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 35px;
}
.rotate-card , .rtfront, .rtback
{
    width: 30%;
    height: 350px;
    /* background: #222; */
    color: #fff;
    padding: 1.2rem;
    border-radius: 1.3rem;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 500px;
}
.rotate-card:hover
{
    transform: rotateY(180deg);
}
.rtfront, .rtback
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rtfront
{
    background: linear-gradient(45deg, black, #2a0000);
    z-index: 1;
    text-align: center;
    padding: 8rem 0rem;
    backface-visibility: hidden;
}
.rtfront p
{
    font-size: 0.6rem;
    margin: 14px;
}
.rtback
{
    background: rgba(34, 34, 34, 0.573);
    transform: rotateY(180deg);
}
.rotate-card .rtback h3
{
    font-size: 1.2rem;
}
.rotate-card .rtback h3
{
    font-size: 1.9rem;
    margin: 1rem 0px;
}
.rotate-card .rtback p
{
    margin: 0.8rem 0;
}
.rotate-card .rtback i
{
    margin: 0px 0.2rem;
}
.rotate-card .rtback .rta
{
    text-align: center;
    width: 100%;
    margin: 4.4rem 0.1rem 0rem;
    background: transparent;
    border-radius: 0.9rem;
}
.aft
{
    position: relative;
}
.rtfront .aft::after
{
    content: "";
    position: absolute;
    width: 35%;
    height: 3px;
    right: 33%;
    bottom: -5px;
    background: #fff;
}
.rtfront::after
{
    content: "";
    position: absolute;
    /* background: #3c39ff; */
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    transform: translate(5%, 5%);
    border: 1px solid white;
    border-radius: 14px 0px;
}
/* end rotate cards */
.updates-parent
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 5.2rem;
    color: #fff;
}
.upi1
{
    width: 32%;
    border: 1px solid #fff;
    border-radius: 1.2rem;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    background: #012;
}
.upi1:hover
{
    box-shadow: 2px 3px 10px 3px rgb(255 255 255 / 25%);
    transform: scale(1.01);
}
.upi1:hover img
{
    transform: scale(1.4);
}
.updates-parent figure
{
    width: 100%;
     height: 300px; 
    /*margin-bottom: 1.9rem;*/
    z-index: 100;
    overflow: hidden;
}
figure [alt="updates(v)"]
{
    width: 100%;
    height: 100%;
}
.up1text
{
    padding: 17px 1.1rem;
    /* margin: 0 .8rem; */
    /* overflow: hidden; */
    position: relative;
    background: #00000072;
    /* border-radius: 1.2rem; */
}
.up1text h3
{
    margin-bottom: .5rem;
}
.up1text::after
{
    content: "ENVISER";
    position: absolute;
    transform: matrix(11, 0, 0, 11, 680, -40);
    transform: matrix(11, 0, 0, 16.4, 980, -74);
    opacity: .1;
    transition: transform .6s ease-in-out;
}
.upi1:hover .up1text::after 
{
    transform: matrix(11, 0, 0, 16.4, 170, -74);
}
.up1text a
{
    font-size: .7rem;
    display: block;
    margin: 0.6rem auto 0;
    width: 92%;
    position: relative;
    background: rgba(0, 0, 0, 0.314);
    /* z-index: 100; */
}
/* <!-- end of updates section  --> */
.loader .loader-parent 
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 6rem 0 10px;
}
.loader .loader-parent .ldr 
{
    width: 20%;
    color: #fff;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    padding: 1rem 6px;
    border-right: 1px solid white;
    overflow: hidden;
    transition: all .5;
}
.icon-re
{
    position: relative;
    overflow: hidden;
}
.loader .loader-parent .ldr i
{
    font-size: 2.4rem;
    margin: 1.3rem;
}
.loader .loader-parent .ldr p
{
    line-height: 1.2rem;
}
.loader .loader-parent .ldr .ldr-desc::first-line
{
    font-weight: 700;
}
.loader .loader-parent .ldr .ldr-p
{
    font-size: .99rem;
    color: gray;
    font-weight: 500;
}
.loader .loader-parent .ldr .risup
{
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    transform: translateY(180px);
}
.loader .loader-parent .ldr .hidup
{
    color: #91a3ff;
}
.loader .loader-parent .ldr:hover .hidup 
{
    transform: translateY(-100px);
}
.loader .loader-parent .ldr:hover .risup 
{
    transform: translateY(0px);
}
.loader .loader-parent .ldrlast
{
    border: 0;
}
/* details */
.bgen
{
    background: url(../images/enviser.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    position: relative;
    top: -16%;
    left: 5%;
    opacity: 0.1;
}
/* ////////////////// footer //////////////// */
.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 300px;
    color: rgb(224, 224, 224);
    background: #141414;
    margin-top: 10rem;
}
.footer-main {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-basis: 300px;
    padding: 0rem 2rem;
    border-right: 2px solid #747474;
}
.footer-main img
{
    margin-left: -1rem;
}
.footer-main h2
{
    font-size: 2rem;
}
.footer-main p
{
    color: #3a3a3a;
    font-size: .8rem;
}
.footer-details {
    display: flex;
    justify-content: space-between;
    padding: 1.9rem;
    width: 60%;
    text-transform: uppercase;
}
.f-products, .f-general,  .f-social {
    display: flex;
    flex-direction: column;
    gap: 25%;
}
.f-products a, .f-general a, .f-social a {
    display: block;
    font-weight: 700;
    font-size: .9rem;
    margin: 8px 0;
    color:  #adadad;
}
.f-products::after
{
    content: "DOCUMENTAION";
    color: #3a3a3a;
    margin-top: -15px;
    font-weight: 600;   
}
